---
import Heading from '../components/Heading.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="404" current="">
  <Heading value="Page not found" />
  <article>
    <p>Are you sure you're in the right place?</p>
    <p><a href="/">Go back to safety</a></p>
  </article>
</Layout>
