---
import Heading from '../components/Heading.astro';
import Layout from '../layouts/Layout.astro';
import { Content } from '../content/about.md';
---

<Layout title="About" current="about">
  <Heading value="About" />
  <div class="content"><Content /></div>
</Layout>

<style>
  .content {
    font-family: 'BrotherDeluxe1350', serif;
    font-size: 2rem;
  }
</style>
