---
import Heading from '../components/Heading.astro';
import Layout from '../layouts/Layout.astro';
import { Content } from '../content/pages/about.md';
---

<Layout title="About" current="about">
  <Heading value="About" />
  <div class="content"><Content /></div>
</Layout>

<style is:global>
  .content {
    font-family: 'BrotherDeluxe1350', serif;
    font-size: 2rem;

    & a {
      color: #001d60;
    }
  }
</style>
