---
import Layout from '../layouts/Layout.astro';
import selfImage from '../images/self.png';
import { Image } from 'astro:assets';
---

<Layout title="" current="">
  <div style="padding-left: 100px">
    <Image src={selfImage} alt="photo of myself" height={700} />
  </div>
</Layout>
