---
import Layout from '../layouts/Layout.astro';
import selfImage from '../images/self.png';
import { Image } from 'astro:assets';
---

<Layout title="" current="">
  <div style="padding-left: 100px">
    <Image src={selfImage} alt="photo of myself" height={700} loading="eager" />
  </div>
  <div class="content">hi there. this is a picture of me.</div>
</Layout>

<style>
  .content {
    font-family: 'BrotherDeluxe1350', serif;
    margin-top: 40px;
    font-size: 1.25rem;
    text-align: center;
  }
</style>

<style is:global>
  img {
    margin-inline: auto;
  }
</style>
