---
const currentYear = new Date().getFullYear().toString(16);
---

<footer>
  <div class="copyright">©0{currentYear} Nicolas Keil</div>
</footer>

<style>
  footer {
    font-family: 'BrotherDeluxe1350';
    margin-block: 20px;
    color: var(--dark-grey);
  }

  .copyright {
    width: fit-content;
    margin-inline: auto;
  }
</style>
