---
interface Props {
  value: string;
}

const { value } = Astro.props;
---

<div class="container">
  <div class="box">
    <h1>{value}</h1>
  </div>
</div>

<style>
  .box {
    background-color: black;
    width: fit-content;
    padding: 10px 30px 5px 15px;
    margin-inline: auto;

    transform: rotate(0.66deg);
  }

  h1 {
    color: var(--theme-color);
    font-family: 'Franklin Gothic', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.08em;
  }
</style>
