<a href="/">
  Nick<br />
  Keil<br />
  .com
</a>

<style>
  @font-face {
    font-family: 'Mustasurma';
    src: url('/fonts/Mustasurma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  a {
    font-family: 'Mustasurma', sans-serif;
    font-size: 3rem;

    color: inherit;
    text-decoration: inherit;
    user-select: none;
  }
</style>
