---
import Footer from '../components/Footer.astro';
import Logo from '../components/Logo.astro';
import Navigation from '../components/Navigation.astro';
import ThemePicker from '../components/ThemePicker.astro';
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description: string;
  image?: string;
  current: string;
}

const { title, description, image, current } = Astro.props;
---

<BaseLayout {title} {description} {image}>
  <div class="container">
    <div style="margin-right: 100px">
      <div style="margin-bottom: 60px">
        <Logo />
      </div>
      <Navigation {current} />
    </div>

    <div style="flex-grow: 1">
      <slot />
    </div>
  </div>
  <div class="theme-picker">
    <ThemePicker />
  </div>
  <Footer />
</BaseLayout>

<style>
  .container {
    display: flex;
    max-width: 900px;
    margin-inline: auto;
  }

  .theme-picker {
    margin-top: 70px;
    margin-inline: auto;
  }
</style>
