---
import Logo from '../components/Logo.astro';
import Navigation from '../components/Navigation.astro';
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  current: string;
}

const { title, current } = Astro.props;
---

<BaseLayout {title}>
  <div class="container">
    <div>
      <div style="margin-bottom: 60px">
        <Logo />
      </div>
      <Navigation {current} />
    </div>

    <div style="flex-grow: 1">
      <slot />
    </div>
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
    gap: 50px;
    max-width: 900px;
    margin-inline: auto;
  }
</style>
